.main{
    margin: auto;
    width: 50%;
}

.offer {
    display: block;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    top: 170px;
}

ul#horizontal-list li {
    display:inline-block;
    position: relative;
    font-family: "Helvetica";
    font-size: 75%;
    padding-left: 15px;
    left: -30px;
    
}

.topnav {
    overflow:hidden;
    background-color: transparent;
}

.topnav a {
    float:right;
    display:inline;
    margin-top: 5px;
    padding: 10px 10px;
    font-size: 0.8em;
    color: black;
}

.topnav .signin {
    display: block;
    height: 30px;
    width: 70px;
    position:relative;
    top: -7px;
    left: -13px;
    color: white;
    background-color: cornflowerblue;
    font-size: 1em;
    border-radius: 2px;
    
}
.logo {
    display:block;
    margin-left: auto;
    margin-right: auto;
    position:relative;
    top: 140px
}

.searchbox {
    display:block;
    margin-left: auto;
    margin-right: auto;
    height: 40px;
    width: 480px;
    position: relative;
    top: 170px;
    border: 0.2px;
    border-style: solid;
    border-color: lightgrey;
    box-shadow: 1px 1px 5px #DEDEDE;
    background: none;
    
}

button {
    font-weight: bold;
    font-size: 0.8em;
    color: dimgray;
    background-color: #F3F3F3;
    border-color: transparent;
    
}

.button1, .button2 {
    display:block;
    position:relative;
    margin-left: auto;
    margin-right: auto;
}

.button1 {
    top: 200px;
    height: 37px;
    width: 125px;
    left: -75px;
    
}

.button2 {
    top: 163px;
    height: 37px;
    width: 140px;
    left: 65px;
}

a {
    font-family: "Helvetica";
    text-decoration: none;
    color:navy;
}

.squares {
    height: 25px;
    position: relative;
    top: -5px;
    left: -8px;
    opacity: 0.6;
    
    
}

.mic {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height:20px;
    width: 14px;
    position: relative;
    top: 293px;
    left: 210px;
}

.botnav1a {
    overflow:hidden;
    background-color: #F1F1F1;
    height: 40px;
    width: 100%;
    margin-left: -8px;
    position: absolute;
    bottom: 0px;
}

.botnav1a a {
    text-align: left;
    display: inline-block;
    position: relative;
    margin-top: auto;
    margin-bottom: auto;
    padding-left: 20px;
    top: 10px;
    left: 10px;
    font-size: 0.8em;
    color: gray;
}

.botnav1b {
    overflow:hidden;
    background-color: transparent;
    height: 40px;
    width: 100%;
    position: absolute;
    bottom: 0px;
    text-align: right;
}

.botnav1b a {
    display:inline-block;
    position: relative;
    margin-top: auto;
    margin-bottom: auto;
    right: 15px;
    top: 10px;
    padding-right: 20px;
    font-size: 0.8em;
    color: gray;
}

.botnav2 {
    background-color: #F1F1F1;
    height: 40px;
    width: 100%;
    position: absolute;
    margin-left: -8px;
    padding: 0;
    bottom: 40px;
    border-color: #DEDEDE;
    border-width:1px 0px 1px 0px;
    border-style: solid;
}

.botnav2 a {
    text-align: left;
    display: inline-block;
    position: relative;
    margin-top: auto;
    margin-bottom: auto;
    padding-left: 20px;
    left: 10px;
    top: 10px;
    font-size: 0.9em;
    color:gray
}